/* Faq.css */

h1{
    margin: 100px;
    color: 	#1985a1;
   }
  
  .faq-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 0px;
  }

  
  
  .faq-question {
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 10px;
    transition: box-shadow 0.3s ease;
    cursor: pointer;
    text-align: center;
  }
  
  .faq-question:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .faq-answer {
    display: none;
  }
  
  .faq-answer.expanded {
    display: block;
    text-align: left;
  }
  
  .contact-us-button {
    width: 7%;
    text-align: center;
    display: block;
    margin: 20px auto; /* Center the button horizontally */
    padding: 10px 20px;
    background-color: #284b63;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .contact-us-button:hover {
    background-color: 	#1985a1;
  }
  