header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color:		#284b63;
  color: #fff;

}

.logo {
  font-size: 2rem;
  margin: auto; /* Pushes the logo to center */
}

.menu-button {
  background-color: transparent;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 2rem;
}

.menu-list {
  text-decoration: none;
  color: white; /* Default text color */
  padding: 8px 16px; /* Padding for spacing */
  border-radius: 4px; /* Rounded corners */
  transition: background-color 0.3s;
  list-style: none;
}

.nav-link {
  color: white;
  font-family: "Montserrat-light";
}
.nav-link:hover {
  background-color: grey;
}

